/* reset */
.bbpress #content {
	padding: 30px 0;
}
#bbpress-forums * {
	outline: none;
	max-width: 100%;
	box-sizing: border-box;
	min-width: 0;
}
#bbpress-forums [type="submit"],
#bbpress-forums bbp-btn {
	border: none;
	padding: 5px 10px;
	color: white;
	cursor: pointer;
}
#bbpress-forums [type="submit"]:hover,
#bbpress-forums bbp-btn:hover {
	opacity: 0.8;
} 

/* search form */
#bbpress-forums div.bbp-search-form {
	padding: 8px 55px 8px 0px;
	border-bottom: 1px solid #999;
	/* background: white; */
	position: relative;
}

#bbpress-forums #bbp-search-form #bbp_search {
	display: block;
	width: 100%;
	border: none;
	font-size: 14px;
	color: #666;
	background: none;
}
#bbpress-forums #bbp_search_submit {
	position: absolute;
	right: 0;
	top: 7px;
	background: none!important;
	color: black;
	font-size: 14px;
	display: none;
	PADDING: 0;
}
#bbpress-forums #bbp_search_submit.bbp_search_submit_custom {
	display: block;
}
/* - nake form in search page */
#bbpress-forums > #bbp-search-form {
	background: white;
	border: 1px solid #ccc;
	padding: 15px 20px;
	position: relative;
}
#bbpress-forums > #bbp-search-form #bbp_search_submit {
	right: 15px;
	top: 15px;
}


/* breadcrumb */
div.bbp-breadcrumb, 
div.bbp-topic-tags {
	font-size: 14px;
	color: #666;
	margin: 10px 0 20px 0;
}

div.bbp-breadcrumb span.bbp-breadcrumb-sep, 
div.bbp-topic-tags span.bbp-breadcrumb-sep {
	margin: 0 0.5em;
}
div.bbp-breadcrumb a {
	color: black;
	text-decoration: underline;
}
div.bbp-breadcrumb p, div.bbp-topic-tags p {
	margin: 0;
}
#bbpress-forums .bbp-breadcrumb p a:first-child {
	display: none;
}
#bbpress-forums #subscription-toggle a {
	display: inline-block;
	font-size: 8px;
	font-weight: bold;
	padding: 2px 3px;
	margin: 0 0 0 0.5em;
	border-radius: 2px;
	color: white;
}
#bbpress-forums #subscription-toggle a:hover {
	color: white!important;
	opacity: 0.8;
}

/* forums & topics */
#bbpress-forums ul.bbp-forums {
	border: 1px solid #e8e8e8;
	box-shadow: 2px 2px 7px #e8e8e8;
}
#bbpress-forums li.bbp-header {
	background: white;
	text-transform: uppercase;
	font-size: 10px;
	padding: 20px;
	color: #333;
	font-weight: normal;
	color: #999;
}
#bbpress-forums li.bbp-body ul.forum {
	padding: 20px 20px 10px 20px;
	border-top: 1px solid #eee;
}
#bbpress-forums li.bbp-body ul.topic {
	padding: 20px 20px 0 20px;
	border-top: 1px solid #eee;
}
#bbpress-forums a.bbp-forum-title,
#bbpress-forums .bbp-topic-title a {
	font-size: 14px;	
}
#bbpress-forums a.bbp-forum-title:hover,
#bbpress-forums .bbp-topic-title a:hover {
	text-decoration: underline;
}

#bbpress-forums .bbp-forums-list {
	margin-bottom: 10px;
	margin-top: 5px;
	line-height: 1.7em;
}
#bbpress-forums .bbp-forums-list li a {
	color: #333;
	text-decoration: underline;
}
#bbpress-forums .bbp-topic-freshness a {
	color: black;
}
#bbpress-forums .bbp-footer, 
#bbpress-forums .bbp-topic-started-by {
	display: none;
}
#bbpress-forums li.bbp-forum-info, 
#bbpress-forums li.bbp-topic-title {
	width: 58%;
}
#bbpress-forums .bbp-forum-info .bbp-forum-content, 
#bbpress-forums p.bbp-topic-meta {
	color: #999;
}
#bbpress-forums .bbp-topic-freshness-author a {
	color: #999;
}
#bbpress-forums .bbp-topic-freshness-author a:first-child {
	display: none;
}

/* topics & replies */
.bbp-template-notice.info {
	position: relative;top: -5px;padding: 10px 15px;font-style: italic;
}



/* topic detail */
#bbpress-forums div.bbp-topic-tags {
	float: none;
	clear: both;
}
#bbpress-forums ul.bbp-replies .bbp-header {
	color: white;
}
#bbpress-forums ul.bbp-replies .bbp-header #favorite-toggle a {
	font-size: 10px;
}
#bbpress-forums ul.bbp-replies .bbp-reply-header {
	background: white;
	border-top: 1px solid #eee;
	padding: 15px 20px 0 20px;
	color: #999;
}
#bbpress-forums ul.bbp-replies .bbp-reply-header .bbp-meta {	
	padding: 0;
}
#bbpress-forums ul.bbp-replies .bbp-reply-author {
	position: relative;
	padding-left: 45px;
}
#bbpress-forums ul.bbp-replies .bbp-reply-author br {
	display: none;
}
#bbpress-forums ul.bbp-replies .bbp-reply-author img.avatar {
	width: 32px;
	height: 32px;
	margin: 0;
	position: absolute;
	left: 0;
}
#bbpress-forums ul.bbp-replies .bbp-reply-author {
	text-align: left;
}

#bbpress-forums ul.bbp-replies .post.hentry {
	padding: 20px!important;
}
#bbpress-forums ul.bbp-replies div.bbp-reply-author .bbp-author-name {	
	clear: none;
	display: block;
	margin: 0px 0 5px 0;
	width: 80px;	
}
#bbpress-forums ul.bbp-replies div.bbp-reply-author .bbp-author-name:hover {
	text-decoration: underline;
}
#bbpress-forums ul.bbp-replies div.bbp-reply-author .bbp-author-role {
	color: #999;
}
#bbpress-forums ul.bbp-replies div.bbp-reply-author .bbp-author-ip {
	display: none;
}
#bbpress-forums div.bbp-reply-content {	
	margin-left: 160px;
	padding: 0;
	font-size: 14px;
}
#bbpress-forums div.bbp-reply-content p {
	margin: 0 0 1em 0;
}


/* form for creating */
#bbpress-forums fieldset.bbp-form {
	padding: 0;
	margin: 0;
}

#bbpress-forums fieldset.bbp-form legend {
	font-size: 24px;
	padding: 20px 0 10px 0;
	display: block;
}

#bbpress-forums fieldset.bbp-form label {
	font-size: 14px;
	margin: 20px 0 5px 0;
	color: #666;
}

#bbpress-forums fieldset.bbp-form p > select, 
#bbpress-forums fieldset.bbp-form p > input[type="text"] {	
	background: white;
	padding: 10px;
	font-size: 16px;
	display: block;	
	width: 50%;
	min-width: 320px;
	box-sizing: border-box;
	width: 100%;
}
#bbpress-forums fieldset.bbp-form .bbp-submit-wrapper {
	float: none;
}
#bbpress-forums fieldset.bbp-form .button.submit {
	font-size: 18px;
	padding: 18px 20px!important;
	width: 100%;
	box-sizing: border-box;
}

/* search page */
#bbpress-forums #bbp-search-results li.bbp-header,
#bbpress-forums #bbp-search-results .bbp-forum-status-open {
	display: none;
}
#bbpress-forums #bbp-search-results .bbp-body .bbp-forum-header,
#bbpress-forums #bbp-search-results .bbp-body .bbp-topic-header,
#bbpress-forums #bbp-search-results .bbp-body .bbp-reply-header{
	padding: 20px 20px 15px 20px ;
	background :white;
	border-color: #eee;
}
#bbpress-forums #bbp-search-results .bbp-body .bbp-reply-header {
	padding-bottom: 0;
}
#bbpress-forums #bbp-search-results .bbp-forum-post-date,
#bbpress-forums #bbp-search-results .bbp-topic-post-date,
#bbpress-forums #bbp-search-results .bbp-reply-post-date {
	color: #999;
}
#bbpress-forums #bbp-search-results .bbp-forum-title h3,
#bbpress-forums #bbp-search-results .bbp-topic-title h3,
#bbpress-forums #bbp-search-results .bbp-reply-title h3 {
	font-weight: normal;
	font-size: 14px;
	color: #666;
}
#bbpress-forums #bbp-search-results a:hover {
	text-decoration: underline;
}
#bbpress-forums #bbp-search-results .bbp-topic-author,
#bbpress-forums #bbp-search-results .bbp-reply-author {
	display: none;
}
#bbpress-forums #bbp-search-results li.bbp-body div.hentry {
	padding: 0;
}
#bbpress-forums #bbp-search-results div.bbp-topic-content,
#bbpress-forums #bbp-search-results div.bbp-reply-content {
	padding: 10px 20px 10px 20px;
	margin: 0;
	font-size: 14px;
	font-style: italic;
}
#bbpress-forums #bbp-search-results .bbp-topic-title-meta {
	color: #999;
}
#bbpress-forums #bbp-search-results .bbp-topic-title-meta a {
	color: black;
	text-decoration: underline;
}
#bbpress-forums #bbp-search-results .bbp-footer {
	display: none;
}


/* pagination */
.bbp-pagination-links .page-numbers {
	background: #fff!important;
	border: 1px solid #ddd;
	padding: 5px 10px!important;
	font-weight: bold;
}
.bbp-pagination-links .page-numbers.current {
	color: #999;
}
.bbp-pagination-links a.page-numbers:hover {
	border-color: #999;
}

/* widgets */
/* - search */
.widget form#bbp-search-form {
	border: 1px solid #ddd;
	padding: 10px 100px 10px 10px;
	position: relative;
}
.widget form#bbp-search-form label {
	display: none;
}
.widget form#bbp-search-form #bbp_search {
	border: none;
	outline: none;
}
.widget form#bbp-search-form #bbp_search_submit {
	border: none;
	position: absolute;
	right: 8px;
	top: 8px;
	color: white;
	padding: 4px 10px;
	cursor: pointer;
}

/* - login widget */
.bbp_widget_login .bbp-login-form fieldset {
	border: none;
	padding: 0;
}
.bbp_widget_login .bbp-login-form fieldset label {
	display: inline;	
}
.bbp_widget_login .bbp-login-form fieldset > div {
	margin: 0 0 20px 0;
}
.bbp_widget_login .bbp-login-form fieldset input[type="text"],
.bbp_widget_login .bbp-login-form fieldset input[type="password"] {
	width: 100%;
}
.bbp_widget_login .bbp-login-form fieldset [type="submit"] {
	cursor: pointer;
	border: none;
	color: white;
	padding: 5px 10px;
}
.bbp_widget_login h4 {
	margin: 0;
}
.bbp_widget_login img {
	padding: 8px 0 0 0;
	display: block;
}
.bbp_widget_login .logout-link {
	padding: 0;
}

/* - stats */
.widget_display_stats dt {
	float: left;
	margin: 0 1em 0 0;
	display: block;
	line-height: 45px!important;
	color: #999;
}
.widget_display_stats dd strong {	
	display: block;	
	font-size: 30px;
	font-weight: normal;
	vertical-align: bottom;
}